body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#logo{
    width: 272px;
    height: 92px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 109px;
}
.search{
    display: block;
    margin: 0 auto;
    margin-top: 37px;
    width: 484px;
    height: 46px;
    border-radius: 25px;
    padding: 0 8px;
    font-size: 16px;
}

a{
    text-decoration: none;
    padding: 0 15px;
    color: black;
}
#gb{
    display: block;
    top: 16px;
    position: relative;
    width: 100%;
   

}
#left-header{
    position: absolute;
    margin: 7px 0 0 10px;
    font-size: 13px;
    opacity: 0.75;
}
 #right-header{
     flex-basis: auto;
     flex-grow: 1;
     display: block;
     min-width: 165px;
     font-size: 13px;
     color: black;
     justify-content: flex-end;
     order: 1;
     position: relative;
     text-align: right;
     padding:7px 0px 60px 30px;
 }
 

 #sign-in{
     color: #fff;
     background: #4887ef;
     margin-right: 50px;
     padding: 7px 15px;
     border-radius: 3px;
     font-weight: bold;
 }

 #bar{
     position: fixed;
     bottom: 0px;
     background-color: #f2f2f2;
     border-top: 1px solid #e4e4e4;
     width: 100%;
     height: 40px;
     font-size: 14px;
 }

 #left-footer{
     height: 100%;
     display: inline-flex;
     align-items: center;
 }
 #left-footer a{
    color: #5f6368;
    padding: 0 0 0 27px
 }

 #right-footer{
     display: inline-flex;
     float: right;
     height: 100%;
     align-items: center;
 }

 #right-footer a{
    color: #5f6368;
    padding: 0 27px 0 0px;
 }